// Colors
$colorPrimary: #f1c40f;
$colorPrimaryDarken: #7d2727;
$colorSecondary: #8e44ad;
$colorMagenta: #6f1e51;
$colorBlackish: #2f3542;
$colorBlack: #000;
$colorBlue: #3742fa;
$colorWhite: #ffffff;
$colorGray100: #f1f2f6;
$colorGray300: #bfbfbf;
$colorGray500: #8c8c8c;
$colorGray700: #595959;

// fonts
$fontRoboto: "Roboto", sans-serif;
$fontPoppins: "Poppins", sans-serif; ;
