@import "_variables";

section#contact {
  background-color: $colorPrimary;
  .sectionWrapper {
    padding: 4rem 10px;
    position: relative;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .contactHeadline {
      max-width: 450px;
      justify-self: start;
      .headline {
        font-weight: 700;
        font-size: 3rem;
        text-align: left;
      }
      .subHeadline {
        text-align: left;
      }
    }

    .contactInformation {
      grid-column: 1/2;
      .title {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .infoItem {
        margin-bottom: 1rem;

        p {
          color: $colorBlack;
        }
        p.type {
          font-weight: 700;
          color: $colorBlack;
        }
      }
    }

    form {
      grid-column: 2/-1;
      grid-row: 1/3;
      max-width: 450px;
      .formItem {
        width: 100%;
        margin-bottom: 16px;
        label {
          width: 100%;
          margin-bottom: 6px;
          font-weight: 600;
          display: block;
        }
        input,
        textarea {
          width: 100%;
          border: none;
          outline: none;
          padding: 10px;
          background-color: $colorWhite;
          box-shadow: 0 0px 2px $colorGray300;
        }
        input {
          height: 40px;
        }

        textarea {
          height: 100px;
        }
      }

      .submitMessage {
        .errors {
          font-size: 0.85rem;
          color: red;
        }
        .success {
          font-size: 0.85rem;
          color: $colorBlack;
        }
      }

      button[type="submit"] {
        background-color: $colorBlack;
        color: $colorPrimary;
        padding: 10px 40px;
        outline: none;
        cursor: pointer;
        border: 3px solid $colorBlack;
        &:hover {
          background-color: $colorPrimary;
          color: $colorBlack;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  section#contact {
    background-color: $colorPrimary;
    .sectionWrapper {
      grid-template-columns: 1fr;

      form {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
